<div class="floor2">
	<ul class="item-list">
		<li class="item">
			<img src="images/Nikon.jpg">
			<div class="description">尼康D700 单反套机（ED VR 防抖镜头</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即购买</div>
		</li>
		<li class="item">
			<img src="images/Nikon.jpg">
			<div class="description">尼康D700 单反套机（ED VR 防抖镜头</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即购买</div>
		</li>
		<li class="item">
			<img src="images/Nikon.jpg">
			<div class="description">尼康D700 单反套机（ED VR 防抖镜头</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即购买</div>
		</li>
		<li class="item">
			<img src="images/Nikon.jpg">
			<div class="description">尼康D700 单反套机（ED VR 防抖镜头</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即购买</div>
		</li>
		<li class="item">
			<img src="images/Nikon.jpg">
			<div class="description">尼康D700 单反套机（ED VR 防抖镜头</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即购买</div>
		</li>
		<li class="item">
			<img src="images/Nikon.jpg">
			<div class="description">尼康D700 单反套机（ED VR 防抖镜头</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即购买</div>
		</li>
		<li class="item">
			<img src="images/Nikon.jpg">
			<div class="description">尼康D700 单反套机（ED VR 防抖镜头</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即购买</div>
		</li>
		<li class="item">
			<img src="images/Nikon.jpg">
			<div class="description">尼康D700 单反套机（ED VR 防抖镜头</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即购买</div>
		</li>
		<li class="item">
			<img src="images/Nikon.jpg">
			<div class="description">尼康D700 单反套机（ED VR 防抖镜头</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即购买</div>
		</li>
		<li class="item">
			<img src="images/Nikon.jpg">
			<div class="description">尼康D700 单反套机（ED VR 防抖镜头</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即购买</div>
		</li>
	</ul>
</div>