<div class="floor1">
	<ul class="item-list">
		<li class="item">
			<img src="images/headphone.jpg">
			<div class="time-left">剩余时间: 02:32:58</div>
			<div class="description">BEATS STUDIO 2.0 录音师二代 头戴包耳式耳机 HI-FI 红色 带麦降噪</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即抢购</div>
		</li>
		<li class="item">
			<img src="images/headphone.jpg">
			<div class="time-left">剩余时间: 02:32:58</div>
			<div class="description">BEATS STUDIO 2.0 录音师二代 头戴包耳式耳机 HI-FI 红色 带麦降噪</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即抢购</div>
		</li>
		<li class="item">
			<img src="images/headphone.jpg">
			<div class="time-left">剩余时间: 02:32:58</div>
			<div class="description">BEATS STUDIO 2.0 录音师二代 头戴包耳式耳机 HI-FI 红色 带麦降噪</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即抢购</div>
		</li>
		<li class="item">
			<img src="images/headphone.jpg">
			<div class="time-left">剩余时间: 02:32:58</div>
			<div class="description">BEATS STUDIO 2.0 录音师二代 头戴包耳式耳机 HI-FI 红色 带麦降噪</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即抢购</div>
		</li>
		<li class="item">
			<img src="images/headphone.jpg">
			<div class="time-left">剩余时间: 02:32:58</div>
			<div class="description">BEATS STUDIO 2.0 录音师二代 头戴包耳式耳机 HI-FI 红色 带麦降噪</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即抢购</div>
		</li>
		<li class="item">
			<img src="images/headphone.jpg">
			<div class="time-left">剩余时间: 02:32:58</div>
			<div class="description">BEATS STUDIO 2.0 录音师二代 头戴包耳式耳机 HI-FI 红色 带麦降噪</div>
			<div class="price">秒杀价： ￥899.00</div>
			<div class="button">立即抢购</div>
		</li>
	</ul>
</div>